@import "tailwindcss";

:root {
  --primary: #016EB7;
  --secondary: #303B45;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@custom-variant dark (&:where(.dark, .dark *));

.card {
  @apply h-52 w-full text-white bg-black rounded-xl flex items-center justify-center;
}

/**
 * Margin: m
 * Padding: p
 *
 * Top: t
 * Bottom: b
 * Left: l
 * Right: r
 *
 * Horizontal: x
 * Vertical: y
 *
 * text: text-<color>-<intensity>, text-<size>
 *
 * Sizes: xs, sm, md, lg, xl, 2xl, 3xl, 4xl
 *
 * font: font-<value>
 *
 * display: flex, hidden, grid, block, inline-block
 * align-items: items-center,  items-left, items-right
 * justify-content: justify-center, justify-between, justify-evenly
 * flex-direction: flex-col, flex-row
 *
 * box-shadow: shadow
 *
 * position: absolute, relative, fixed, sticky
 *
 * border: border-<value>
 *
 * background: bg
 *
 * dark
 */
